.homeitems {
  padding: 0 20px;
  text-align: start;
  font-size: inherit;
}

.hometitle {
  margin-bottom: 40px;
  align-self: flex-start;
  margin-left: 20px;
  display: flex;
  font-size: larger;
}
